#header{
	height: 40px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,.15);	
}

#header span{
	margin-top: 10px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	font-style: italic;	
}

#content{
	height: -moz-calc(100% - 55px);
	height: -webkit-calc(100% - 55px);
	height: -o-calc(100% - 55px);
	height: calc(100% - 55px);
	
	padding: 10px;
}

